@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "SUSE", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "SUSE", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #161616;
  color: #d4d4d4;
  font-family: var(--font-mono);
}
